name: test project deploy

on: 
  push: 
    branches: [main]

jobs:
    build: 
      runs-on: ubuntu-latest
      
      steps:
        - name: Checkout Repos
          uses: actions/checkout@v6.0.2

        - name: Setup nodejs
          uses: actions/setup-node@v6.2.0
          with:
            node-version: 22.x
            cache: "npm" 
        - name: Install Dependencies
          run: npm install

        - name: Build next app
          run: npm run build

        - name: Upload build on Artifacts
          uses: actions/upload-artifact@v6.0.0
          with:
            name: nextjs-build
            path: out/
            
            

    
